<html>
    <head>
        <link rel="stylesheet" href="./css/register.css">
        <title>home</title>
        <title>home</title>
    </head>
    <body>
        <a href="./about.html">about us</a>|<a href="./index.html">index</a>|<a href="./register.html">register</a>|<a href="login.html">login</a>
    <h3>register</h3>
    <form  method="post" action="/api/users/register">
        <div class="container">
            <h1>Register</h1>
            <p>Please fill in this form to create an account.</p>
            <hr>
            <label for="Firstname"><b>Firstname</b></label>
            <input type="text" placeholder="Firstname" name="Firstname" id="Firstname" required><br>
            
        
        
            <label for="Lastname"><b>Lastname</b></label>
            <input type="text" placeholder="Lastname" name="Lastname" id="Lastname" required><br>

            <label for="Username"><b>Username</b></label>
            <input type="text" placeholder="Username" name="Username" id="Username" required><br>

            <label for=""><b>Email</b></label>
            <input type="text" placeholder="Enter Email" name="email" id="email" required><br>
         
            <label for="Address"><b>Address</b></label>
            <input type="text" placeholder="Address" name="Address" id="Address" required><br>
        
            <label for="Telephone"><b>Telephone</b></label>
            <input type="text" placeholder="Telephone" name="Telephone" id="Telephone" required><br>

            <label for="Password"><b>Password</b></label>
            <input type="Password" placeholder="Enter Password" name="Password" id="Password" required><br>
        
            
            <hr>
        
          
            <button type="submit" class="registerbtn">Register</button>
          </div>
    </body>

</html>