<html>
    <head>
        
    </head>
    <body>
        <a href="./about.html">about us</a>|<a href="./index.html">index</a>|<a href="./register.html">register</a>|<a href="login.html">login</a>
    <h3>home</h3>
    <form   action="/api/users/login" method="Post">
        <div >
          <h1>login</h1>
         
          <hr>
      
          <label for="email"><b>Email</b></label>
          <input type="email" placeholder="Enter Email" name="email" id="email" required>
      
          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="password" id="psw" required>
      
          
          <hr>
      
          <button type="submit" class="registerbtn">login</button>
        </div>
    </body>

</html>